html, p, span, button, body, h1, h2, h3, canvas {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #262626;

    padding: 0.5em;

    height: calc(100% - 1em);
    width: calc(100% - 1em);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

#container {
    min-height: 100%;
    position: relative;
}

#timercontainer {
    background-color: rgba(217, 115, 7, 1);
    text-align: center;
    height: 2.5em;
    border-radius: 0.3em;

}

#timercontainer p {
    font-weight: bold;
    font-size: 2em;
    color: white;
}

#game {
    position: absolute;

    top: 2.5em;
    bottom: 2.5em;

    width: calc(100% - 0.6em);

    margin-bottom: 0.5em;
    margin-top: 0.5em;

    background-color: rgba(7, 178, 217, 1);

    border:solid 0.3em;
    border-color: rgba(7, 178, 217, 0.5);
    border-radius: 0.3em;
}

#surface {
    display: block;
    width: 100%;
    height: 100%;
}

#controls {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2.5em;

    text-align: center;

}

button {
    height: 3.6em;
    width: 32%;

    border: none;
    border-radius: 0.3em;

    background-color: rgba(217, 115, 7, 0.9);

    color: white;
}

button:disabled {
    background-color: rgba(217, 115, 7, 0.5);
    color: rgba(255,255,255,0.5);
}

button:hover:enabled {
    background-color: rgba(217, 115, 7, 1);
}